* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    cursor: url(../../images/cursors/hand-1.cur), auto;
    min-height: 100vh;
}

body * {
    font-family: "Lexend", sans-serif;
}

.background-black {
    background-color: #222222;
}
